## Домашнее задание

# Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по правилам:

если источник traffic_source равен Yandex или Google, то в source_type ставится organic;
для источников paid и email из России ставим ad;
для источников paid и email не из России ставим other;
все остальные варианты берём из traffic_source без изменений.

In [1]:
import pandas as pd

In [3]:
log = pd.read_csv('D:\\Нетология python\\Лекция _Библиотека_numpy_&_pandas\\доп_материалы_к_пандас_1_и_2\\visit_log.csv', sep=';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [14]:
log.loc[log['traffic_source'].isin(['yandex', 'google']), 'source_type'] = 'organic'
log.loc[(log['traffic_source'].isin(['paid', 'email'])) & (log['region'] == 'Russia'), 'source_type'] = 'ad'
log.loc[(log['traffic_source'].isin(['paid', 'email'])) & (log['region'] != 'Russia'), 'source_type'] = 'other'
log['source_type'].fillna(log['traffic_source'], inplace=True)

In [16]:

log.head(70)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
...,...,...,...,...,...,...,...
65,1549981098,98ce42deef,https://host.ru/8e88d4703848cc0ec4,Ukraine,5392839dfe,yandex,organic
66,1549981098,efbb03b7a7,https://host.ru/f2297425e1328e9e35,Russia,6a6cc1f6aa,email,ad
67,1549981103,1be2b3990b,https://host.ru/f2297425e1328e9e35,Belarus,5719d95d7b,email,other
68,1549981106,1751ac12e7,https://host.ru/c2382eb3d6afc8d0f3,China,81c4917b0d,direct,direct
69,1549981109,cd05c2283f,https://host.ru/39fa884393666d45fc,Ukraine,c32afb3dc3,yandex,organic

# Задание 2
В файле URLs.txt содержатся URL страниц новостного сайта. Вам нужно отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри URL конструкцию: /, затем 8 цифр, затем дефис. Выполните действия:

Прочитайте содержимое файла с датафрейм.
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствие с заданным шаблоном.

In [19]:
df = pd.read_csv('D:\\Нетология python\\Лекция _Библиотека_numpy_&_pandas\\доп_материалы_к_пандас_1_и_2\\URLs.txt', sep=';')
df.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [26]:
pattern = r'\/\d{8}-'
news = df[df['url'].str.contains(pattern)]

In [28]:
news.head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

# Задание 3
Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значениями столбца timestamp для данного значения userId.

In [31]:
df = pd.read_csv('D:\\Нетология python\\Лекция _Библиотека_numpy_&_pandas\\доп_материалы_к_пандас_1_и_2\\ml-latest-small\\ratings.csv')
df.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [32]:
# Посчитать количество оценок для каждого пользователя
ratings_count = df['userId'].value_counts()

In [33]:
# Отфильтровать пользователей, которые выставили более 100 оценок
active_users = ratings_count[ratings_count > 100]

In [35]:
# Вычислить время жизни для каждого активного пользователя
user_lifetime = df.groupby('userId')['timestamp'].apply(lambda x: x.max() - x.min())

In [36]:
# Посчитать среднее значение времени жизни для активных пользователей
avg_lifetime = user_lifetime[active_users.index].mean()

In [37]:

# Вывести результат
print('Среднее время жизни пользователей, которые выставили более 100 оценок:', avg_lifetime)

Среднее время жизни пользователей, которые выставили более 100 оценок: 40080507.4496124

# Задание 4
 Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе «Материалы для лекции “Продвинутый pandas”» ---- Ноутбуки к лекции «Продвинутый pandas»).
Нужно сформировать две таблицы:

таблицу с тремя типами выручки для каждого client_id без указания адреса клиента;
аналогичную таблицу по типам выручки с указанием адреса клиента.
Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

Дана статистика услуг перевозок клиентов компании по типам:
rzd - железнодорожные перевозки
auto - автомобильные перевозки
air - воздушные перевозки
client_base - адреса клиентов

In [2]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

   client_id  rzd_revenue
0        111         1093
1        112         2810
2        113        10283
3        114         5774
4        115          981

In [3]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

   client_id  auto_revenue
0        113         57483
1        114            83
2        115           912
3        116          4834
4        117            98

In [4]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

   client_id  air_revenue
0        115           81
1        116            4
2        117           13
3        118          173

In [5]:

client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1',
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

In [13]:
# Используем мердж 
# без адреса 
revenue_without_address = pd.merge(rzd, auto, on='client_id', how='outer')
revenue_without_address = pd.merge(revenue_without_address, air, on='client_id', how='outer')

# С адресом
revenue_with_address = pd.merge(revenue_without_address, client_base, on='client_id', how='left')

In [11]:
print("Таблица без адреса клиента:")
revenue_without_address.head()

Таблица без адреса клиента:

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0       57483.0          NaN
3        114       5774.0          83.0          NaN
4        115        981.0         912.0         81.0

In [12]:
print("\nТаблица с адресом клиента:")
revenue_with_address.head()

Таблица с адресом клиента:

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           NaN          NaN  Комсомольская 4
1        112       2810.0           NaN          NaN   Энтузиастов 8а
2        113      10283.0       57483.0          NaN  Левобережная 1а
3        114       5774.0          83.0          NaN          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1

In [45]:
pd.concat([rzd,auto,air])

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0           NaN          NaN
3        114       5774.0           NaN          NaN
4        115        981.0           NaN          NaN
0        113          NaN       57483.0          NaN
1        114          NaN          83.0          NaN
2        115          NaN         912.0          NaN
3        116          NaN        4834.0          NaN
4        117          NaN          98.0          NaN
0        115          NaN           NaN         81.0
1        116          NaN           NaN          4.0
2        117          NaN           NaN         13.0
3        118          NaN           NaN        173.0

In [46]:
pd.concat([client_base,rzd,auto,air])

   client_id          address  rzd_revenue  auto_revenue  air_revenue
0        111  Комсомольская 4          NaN           NaN          NaN
1        112   Энтузиастов 8а          NaN           NaN          NaN
2        113  Левобережная 1а          NaN           NaN          NaN
3        114          Мира 14          NaN           NaN          NaN
4        115        ЗЖБИиДК 1          NaN           NaN          NaN
5        116    Строителей 18          NaN           NaN          NaN
6        117  Панфиловская 33          NaN           NaN          NaN
7        118     Мастеркова 4          NaN           NaN          NaN
0        111              NaN       1093.0           NaN          NaN
1        112              NaN       2810.0           NaN          NaN
2        113              NaN      10283.0           NaN          NaN
3        114              NaN       5774.0           NaN          NaN
4        115              NaN        981.0           NaN          NaN
0        113              NaN          NaN       57483.0          NaN
1        114              NaN          NaN          83.0          NaN
2        115              NaN          NaN         912.0          NaN
3        116              NaN          NaN        4834.0          NaN
4        117              NaN          NaN          98.0          NaN
0        115              NaN          NaN           NaN         81.0
1        116              NaN          NaN           NaN          4.0
2        117              NaN          NaN           NaN         13.0
3        118              NaN          NaN           NaN        173.0