# Практика по теме "Функции"

**Булыгин Олег**
* [Я в LinkedIn](linkedin.com/in/obulygin)  
* [Мой канал в ТГ по Python](https://t.me/pythontalk_ru)
* [Чат канала](https://t.me/pythontalk_chat)
* [Блог в Телетайпе](https://teletype.in/@pythontalk)

## Основы

Вспомним [базовый синтаксис](https://teletype.in/@pythontalk/functions_python). Напишем, которая определяет является ли строка палиндромом.

Пример работы программы:
```
print(is_palindrom('Радар'))
True
```

```
print(is_palindrom('строка'))
False
```

In [ ]:
def is_palindrome(string_):
    """
    Checks if a given string is a palindrome.

    Parameters:
        string_ (str): The string to be checked.

    Returns:
        bool: True if the string is a palindrome, False otherwise.
    """
    string_ = string_.replace(' ', '') # убираем пробелы
    return string_.lower() == string_.lower()[::-1] # сравниваем строку с перевернутой

print(is_palindrome('А роза упала на лапу Азора'))
print(is_palindrome('Не могу сказать, что это палиндром'))

True
False

У функции есть параметр string_, а при вызове функции мы передаем конкретные строки - аргументы. Не путайте понятия "параметр" и "аргумент"!



Не ленитесь писать докстринги к сложным функциям. Подробнее про них можно почитать [здесь](https://teletype.in/@pythontalk/docstring_formats).

In [ ]:
help(is_palindrome)

Help on function is_palindrome in module __main__:

is_palindrome(string_)
    Checks if a given string is a palindrome.

    Parameters:
        string_ (str): The string to be checked.

    Returns:
        bool: True if the string is a palindrome, False otherwise.

**return**

* Ключевое слово return прекращает выполнение функции и возвращает указанное после выражения значение.

* Выражение return без аргументов это то же самое, что и выражение return None.

* То, что функция возвращает можно присваивать какой-либо переменной.

In [ ]:
res = is_palindrome('А роза упала на лапу Азора')
print(res)

True

Зачем использовать функции?  
Допустим, у нас есть таблица с ценами в рублях, а мы хотим пересчитать их в евро и отформатировать. Сделаем это сначала без функций.

In [ ]:
ticket_db = [{'price': 400}, {'price': 200}, {'price': 150}]

tickets_euro = []
for ticket in ticket_db:
    converted = ticket['price'] / 100
    rounded = round(converted, 2)
    formatted = '€' + str(rounded)
    tickets_euro.append(formatted)

print(tickets_euro)

['€4.0', '€2.0', '€1.5']

Пока всё неплохо. Но проходит время, и у нас появляется ещё две таблицы с ценами, и с каждой нужно сделать ту же самую операцию.

In [ ]:
ticket_db = [{'price': 400}, {'price': 200}, {'price': 150}]

tickets_euro = []
for ticket in ticket_db:
    converted = ticket['price'] / 70
    rounded = round(converted, 2)
    formatted = '€' + str(rounded)
    tickets_euro.append(formatted)


guide_db = [{'price': 50}, {'price': 40}]

guides_euro = []
for guide in guide_db:
    converted = guide['price'] / 100
    rounded = round(converted, 2)
    formatted = '€' + str(rounded)
    guides_euro.append(formatted)


snack_db = [{'price': 100}, {'price': 95}, {'price': 150}]

snacks_euro = []
for snack in snack_db:
    converted = snack['price'] / 100
    rounded = round(converted, 2)
    formatted = '€' + str(rounded)
    snacks_euro.append(formatted)

print(tickets_euro, guides_euro, snacks_euro)

['€5.71', '€2.86', '€2.14'] ['€0.5', '€0.4'] ['€1.0', '€0.95', '€1.5']

Мы видим, что одни и те же операции повторяются раз за разом. Когда вы где-то встречаете такое, вы должны сразу подумать: "О, отличное место для функции". Перепишем этот пример с использованием функций.

In [ ]:
def to_euro(price):
    exchange_rate = 100
    rounded = round(price/exchange_rate, 2)
    return '€' + str(rounded)

def db_to_euro(db):
    return [to_euro(item['price']) for item in db]


ticket_db = [{'price': 400}, {'price': 200}, {'price': 150}]
guide_db = [{'price': 50}, {'price': 40}]
snack_db = [{'price': 100}, {'price': 95}, {'price': 150}]

tickets_euro = db_to_euro(ticket_db)
guides_euro = db_to_euro(guide_db)
snacks_euro = db_to_euro(snack_db)

print(tickets_euro, guides_euro, snacks_euro)

['€4.0', '€2.0', '€1.5'] ['€0.5', '€0.4'] ['€1.0', '€0.95', '€1.5']

Вы можете использовать функции, даже не зная, как именно они реализованы внутри.

Например, выше мы пересчитывали рубли в доллары и использовали постоянный курс. Если бы мы решили забирать данные о курсе из базы данных или с сайта центробанка, то нам нужно было бы изменить логику только в одном месте в самой функции, а все вызовы функции остались бы неизменными.

## Необязательные аргументы

Для функции в Python мы можем определить необязательные аргументы, которые можно не указывать при её вызове.

Например, print печатает свои аргументы через пробел, но изредка было бы полезно печатать их через запятую.

In [ ]:
print(1, 2, 3, 4)
print(1, 2, 3, 4, sep=', ')

1 2 3 4
1, 2, 3, 4

* Если значения по умолчанию нет, аргумент считается обязательным.  
* При вызове функции мы по порядку передаём все обязательные аргументы, а потом необязательные.  
* Мы можем не соблюдать порядок аргументов, если в явном виде указывать их имена.

In [ ]:
def power(number, number_2=2):
    result = number ** number_2
    return result

print(power(10))
print(power(10, 7))
print(power(number_2=7, number=10))

100
10000000
10000000

## Args / kwargs

Иногда возникает ситуация, когда вы заранее не знаете, какое количество аргументов будет необходимо принять функции. В этом случае следует использовать [звёздочки](https://teletype.in/@pythontalk/python_asteriks).

### *args

Функция может принимать неопределённочи число позиционных аргументов. Используя одну звёздочку мы упакуем все аргументы в параметр-кортеж.

In [ ]:
def multiply(*args):
    print(args)
    product = 1
    for num in args:
        product *= num
    return product

print(multiply(1, 2, 3, 4))
print(multiply(1, 2, 3, 4, 5, 6))

(1, 2, 3, 4)
24
(1, 2, 3, 4, 5, 6)
720

### **kwargs

Аналогично функция может принимать произвольное число _именованных_ аргументов, используя две звёздочки (**kwargs). В этом случае они все упаковываются в словарь, в котором ключи - это имена аргументов, а значения - соответствующие им значения.

In [ ]:
def print_config(**kwargs):
    print(kwargs)
    for key, value in kwargs.items():
        print(f'{key}: {value}')


print_config(school="netology")
print_config(school="netology", course="data analytics", language="python")

{'school': 'netology'}
school: netology
{'school': 'netology', 'course': 'data analytics', 'language': 'python'}
school: netology
course: data analytics
language: python

Для корректного разбора всех аргументов должен соблюдаться определённый порядок:

1) обязательные аргументы;  
2) \*args;  
3) необязательные аргументы;  
4) **kwargs.  


Например, правильная последовательность типов аргументов в определении функции может выглядеть так:

In [ ]:
def ideal_function(x, y, *args, p=10, q=20, **kwargs):
    return x * y

При  этом любую часть из этих четырёх можно опустить.

Напишем функцию, которая будет находить среднюю цену квартиры по всем переданным в нее районам города

In [ ]:
district_1 = {'flat_1': 10500, 'flat_2': 11000}
district_2 = {'flat_3': 15000}
district_3 = {'flat_4': 6500, 'flat_5': 7000, 'flat_6': 6000}

1. Эта функция использует *args, чтобы принять только значения из каждого словаря в виде отдельных аргументов. Функция суммирует все эти значения и делит на их количество, чтобы получить среднее значение.

In [ ]:
def get_avg_price(*districts):
    print(districts) # получаем кортеж со всеми значениями
    return round(sum(districts) / len(districts), 2)

get_avg_price(*district_3.values(), *district_2.values(), *district_1.values())

(6500, 7000, 6000, 15000)

8625.0

2. Эта функция использует **kwargs, чтобы передавать словари как именованные аргументы, и функция автоматически объединяет их в один словарь. Однако, если у нас есть ключи с одинаковыми именами в разных словарях, значения будут перезаписаны, и некоторые данные могут быть потеряны.

In [ ]:
def get_avg_price(**districts):
    print(districts) # получаем словарь
    return round(sum(districts.values()) / len(districts), 2)

get_avg_price(**district_3, **district_2, **district_1)

{'flat_4': 6500, 'flat_5': 7000, 'flat_6': 6000, 'flat_3': 15000, 'flat_1': 10500, 'flat_2': 11000}

9333.33

3. Эта функция принимает один аргумент - словарь. В функцию передаётся общий словарь, который получается путём распаковки всех исходных словарей в него. Этот метод также может привести к потере данных, если у нас есть ключи с одинаковыми именами в разных словарях.

In [ ]:
def get_avg_price(districts):
    print(districts) # получаем словарь
    return round(sum(districts.values()) / len(districts), 2)

get_avg_price({**district_3, **district_2, **district_1})

{'flat_4': 6500, 'flat_5': 7000, 'flat_6': 6000, 'flat_3': 15000, 'flat_1': 10500, 'flat_2': 11000}

9333.33

## Функции высшего порядка и lambda-функции

### Функция map

В Python функции являются объектами, поэтому вы можете обращаться с ними, как и с любой другой переменной, например, передавать их в качестве аргумента в другую функцию. Функции, которые принимают в качестве аргумента другие функции, называются **функциями высшего порядка**.

Функция map - одна из таких функций. Map применяет функцию-аргумент к каждому элементу итерируемого объекта, который мы передаём вторым аргументом.

Получим список из средних цен в каждой категории товаров стандартным способом:

In [ ]:
prices_by_categories = [[100, 200, 400, 600], [200, 500], [100, 200, 100, 100], [800, 900]]

In [ ]:
def get_avg_prices(prices):
    mean_prices = []
    for category in prices:
        mean_prices.append(sum(category) / len(category))
    return mean_prices

print(get_avg_prices(prices_by_categories))

[325.0, 350.0, 125.0, 850.0]

А что если написать функцию для расчета среднего и использовать ее в map?

In [ ]:
def get_avg(list_):
    return sum(list_) / len(list_)

print(list(map(get_avg, prices_by_categories)))

[325.0, 350.0, 125.0, 850.0]

Мы использовали list потому, что map возвращает [итератор](https://teletype.in/@pythontalk/iterator_generator), напрямую его содержимое (без цикла) увидеть нельзя.

Мы также можем использовать map со встроенными функциями.

In [ ]:
print(list(map(sum, prices_by_categories)))

[1300, 700, 500, 1700]

### Lambda-функции
[Анонимные функции](https://teletype.in/@pythontalk/lambda_functions) могут содержать лишь одно выражение, и им необязательно давать имя. Выполняются быстрее обычных и не требуют инструкции return.

In [ ]:
(lambda prices: sum(prices) / len(prices))([1, 2, 3, 4])

2.5

In [ ]:
l_func = lambda prices: sum(prices) / len(prices)

l_func([1, 2, 3, 4])

2.5

Связка lambda c map (и другими функциями высшего порядка) помогает реализовывать однострочные лаконмчные решения без циклов

In [ ]:
print(list(map(lambda prices: sum(prices) / len(prices), prices_by_categories)))

[325.0, 350.0, 125.0, 850.0]

[Тут](https://teletype.in/@pythontalk/lambdas_examples) можете ознакомиться с доп. примерами применения lambda-функций

### Функция filter

filter также принимает на вход произвольную функцию и составной объект. Filter применяет переданную функцию последовательно к каждому элементу и ожидает, что функция вернёт логическое значение True/False. На выход она возвращает только те элементы, для которых значение было True.

Решим задачу с фильтрацией структуры по гордам без цикла

In [ ]:
geo_logs = [
    {'visit1': ['Москва', 'Россия']},
    {'visit2': ['Дели', 'Индия']},
    {'visit3': ['Владимир', 'Россия']},
    {'visit4': ['Лиссабон', 'Португалия']},
    {'visit5': ['Париж', 'Франция']},
    {'visit7': ['Тула', 'Россия']},
    {'visit9': ['Курск', 'Россия']},
    {'visit10': ['Архангельск', 'Россия']}
]

In [ ]:
result = []
for log in geo_logs:
    # print(list(log.values()))
    if 'Россия' in list(log.values())[0]:
        result.append(log)

print(result)

[{'visit1': ['Москва', 'Россия']}, {'visit3': ['Владимир', 'Россия']}, {'visit7': ['Тула', 'Россия']}, {'visit9': ['Курск', 'Россия']}, {'visit10': ['Архангельск', 'Россия']}]

In [ ]:
print(list(filter(lambda log: 'Россия' in list(log.values())[0], geo_logs)))

[{'visit1': ['Москва', 'Россия']}, {'visit3': ['Владимир', 'Россия']}, {'visit7': ['Тула', 'Россия']}, {'visit9': ['Курск', 'Россия']}, {'visit10': ['Архангельск', 'Россия']}]

### Функция reduce

* reduce() принимает два аргумента: функцию и итерируемый объект (например, список).
* Функция, которая передается в reduce(), должна принимать два аргумента.
reduce() применяет эту функцию к элементам итерируемого объекта следующим образом: сначала функция применяется к первым двум элементам и возвращает значение. Затем это значение становится первым аргументом функции для следующего вызова, а вторым аргументом становится следующий элемент итерируемого объекта.
* Этот процесс продолжается до тех пор, пока не будут обработаны все элементы итерируемого объекта, и reduce() возвращает одно значение.

Напишем функцию, преобразующую произвольный список вида `['2018-01-01', 'yandex', 'cpc', 100]` (он может быть любой длины) в словарь `{'2018-01-01': {'yandex': {'cpc': 100}}}`

In [ ]:
some_list = ['2023-01-01', 'yandex', 'cpc', 100]

In [ ]:
def get_crazy_nested_dict(some_list):
    res = some_list[-1]
    for el in reversed(some_list[:-1]):
        res = {el: res}
    return res

print(get_crazy_nested_dict(some_list))

{'2023-01-01': {'yandex': {'cpc': 100}}}

In [ ]:
from functools import reduce
#  ['2023-01-01', 'yandex', 'cpc', 100]


print(reduce(lambda el1, el2: {el2: el1}, reversed(some_list)))

{'2023-01-01': {'yandex': {'cpc': 100}}}

In [ ]:
prices_by_categories = [[100, 200, 400, 600], [200, 500], [100, 200, 100, 100], [800, 900]]

sorted(prices_by_categories, key=lambda prices: sum(prices))

[[100, 200, 100, 100], [200, 500], [100, 200, 400, 600], [800, 900]]

## Попрактикуемся

In [ ]:
students_list = [
    {"name": "Василий", "surname": "Теркин", "gender": "м", "program_exp": True, "grade": [8, 8, 9, 10], "exam": 8},
    {"name": "Мария", "surname": "Павлова", "gender": "ж", "program_exp": True, "grade": [7, 8, 9, 7, 9], "exam": 9},
    {"name": "Ирина", "surname": "Андреева", "gender": "ж", "program_exp": False, "grade": [10, 9, 8, 10], "exam": 7},
    {"name": "Татьяна", "surname": "Сидорова", "gender": "ж", "program_exp": False, "grade": [7, 8, 8, 9, 8],"exam": 10},
    {"name": "Иван", "surname": "Васильев", "gender": "м", "program_exp": True, "grade": [9, 8, 9, 6, 9, 4], "exam": 5},
    {"name": "Роман", "surname": "Золотарев", "gender": "м", "program_exp": False, "grade": [8, 9, 9, 6, 9], "exam": 6}
]

In [ ]:
def get_difference(students):
    for student in students:
        diff = sum(student["grade"]) / len(student["grade"]) - student["exam"]
        print(f'У {student["name"]} {student["surname"]} разница баллов: {diff :.2f}')

get_difference(students_list)

У Василий Теркин разница баллов: 0.75
У Мария Павлова разница баллов: -1.00
У Ирина Андреева разница баллов: 2.25
У Татьяна Сидорова разница баллов: -2.00
У Иван Васильев разница баллов: 2.50
У Роман Золотарев разница баллов: 2.20

In [ ]:
def get_avg_grade(students):
    sum_ = 0

    for student in students:
        sum_ += (sum(student["grade"]) / len(student["grade"]) + student["exam"]) / 2

    return round(sum_ / len(students), 2)

print(get_avg_grade(students_list))

def get_avg_grade(students):
    return round(sum(map(lambda student: (sum(student["grade"]) / len(student["grade"]) + student["exam"]) / 2, students)) / len(students), 2)

print(get_avg_grade(students_list))

7.89
7.89

In [ ]:
def filter_students(students, exp):
    res = []

    for student in students:
        if student['program_exp'] == exp:
            res.append(student)

    return res

print(filter_students(students_list, True))
print(filter_students(students_list, False))

def filter_students(students, exp):
    return list(filter(lambda student: student['program_exp'] == exp, students))

print(filter_students(students_list, True))
print(filter_students(students_list, False))

[{'name': 'Василий', 'surname': 'Теркин', 'gender': 'м', 'program_exp': True, 'grade': [8, 8, 9, 10], 'exam': 8}, {'name': 'Мария', 'surname': 'Павлова', 'gender': 'ж', 'program_exp': True, 'grade': [7, 8, 9, 7, 9], 'exam': 9}, {'name': 'Иван', 'surname': 'Васильев', 'gender': 'м', 'program_exp': True, 'grade': [9, 8, 9, 6, 9, 4], 'exam': 5}]
[{'name': 'Ирина', 'surname': 'Андреева', 'gender': 'ж', 'program_exp': False, 'grade': [10, 9, 8, 10], 'exam': 7}, {'name': 'Татьяна', 'surname': 'Сидорова', 'gender': 'ж', 'program_exp': False, 'grade': [7, 8, 8, 9, 8], 'exam': 10}, {'name': 'Роман', 'surname': 'Золотарев', 'gender': 'м', 'program_exp': False, 'grade': [8, 9, 9, 6, 9], 'exam': 6}]
[{'name': 'Василий', 'surname': 'Теркин', 'gender': 'м', 'program_exp': True, 'grade': [8, 8, 9, 10], 'exam': 8}, {'name': 'Мария', 'surname': 'Павлова', 'gender': 'ж', 'program_exp': True, 'grade': [7, 8, 9, 7, 9], 'exam': 9}, {'name': 'Иван', 'surname': 'Васильев', 'gender': 'м', 'program_exp': True, 'grade': [9, 8, 9, 6, 9, 4], 'exam': 5}]
[{'name': 'Ирина', 'surname': 'Андреева', 'gender': 'ж', 'program_exp': False, 'grade': [10, 9, 8, 10], 'exam': 7}, {'name': 'Татьяна', 'surname': 'Сидорова', 'gender': 'ж', 'program_exp': False, 'grade': [7, 8, 8, 9, 8], 'exam': 10}, {'name': 'Роман', 'surname': 'Золотарев', 'gender': 'м', 'program_exp': False, 'grade': [8, 9, 9, 6, 9], 'exam': 6}]

In [ ]:
print(get_avg_grade(students_list))
print(get_avg_grade(filter_students(students_list, True)))
print(get_avg_grade(filter_students(students_list, False)))

7.89
7.71
8.08

In [ ]:
def main(students):
    while True:
        comand = input('Введите команду: ')
        if comand == '1':
            print(get_avg_grade(students))
        elif comand == '2':
            print(get_avg_grade(filter_students(students, True)))
        elif comand == '3':
            print(get_avg_grade(filter_students(students, False)))
        elif comand == 'q':
            print('Выход из программы')
            break

main(students_list)

Введите команду: 1
7.89
Введите команду: 2
7.71
Введите команду: 3
8.08
Введите команду: 1
7.89
Введите команду: й
Введите команду: q
Выход из программы

# Что ещё почитать?

* Укус Питона, [глава про функции](https://python.swaroopch.com/functions.html)

* Про [передачу аргументов по ссылке](https://teletype.in/@pythontalk/involuntary_borgs)