# Библиотека Pandas
Когда и зачем использовать

Режим презентации jupyter nbconvert my_script.ipynb --to slides --post serve

https://medium.com/@mjspeck/presenting-code-using-jupyter-notebook-slides-a8a3c3b59d67

In [4]:
# запуск презентации
!jupyter nbconvert Python_10_pandas_presentation_mode.ipynb --to slides --post serve

[NbConvertApp] Converting notebook Python_10_pandas_presentation_mode.ipynb to slides
[NbConvertApp] Writing 606233 bytes to Python_10_pandas_presentation_mode.slides.html
[NbConvertApp] Redirecting reveal.js requests to https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0
Traceback (most recent call last):
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Scripts\jupyter-nbconvert-script.py", line 10, in <module>
    sys.exit(main())
             ^^^^^^
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\jupyter_core\application.py", line 277, in launch_instance
    return super().launch_instance(argv=argv, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
    app.start()
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\nbconvert\nbconvertapp.py", line 423, in start
    self.convert_notebooks()
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\nbconvert\nbconvertapp.py", line 597, in convert_notebooks
    self.convert_single_notebook(notebook_filename)
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\nbconvert\nbconvertapp.py", line 564, in convert_single_notebook
    self.postprocess_single_notebook(write_results)
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\nbconvert\nbconvertapp.py", line 534, in postprocess_single_notebook
    self.postprocessor(write_results)
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\nbconvert\postprocessors\base.py", line 27, in __call__
    self.postprocess(input)
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\nbconvert\postprocessors\serve.py", line 91, in postprocess
    http_server.listen(self.port, address=self.ip)
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\tornado\tcpserver.py", line 183, in listen
    sockets = bind_sockets(
              ^^^^^^^^^^^^^
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\tornado\netutil.py", line 162, in bind_sockets
    sock.bind(sockaddr)
OSError: [WinError 10048] Обычно разрешается только одно использование адреса сокета (протокол/сетевой адрес/порт)
[NbConvertApp] Converting notebook Python_10_pandas_presentation_mode.ipynb to slides
[NbConvertApp] Writing 606233 bytes to Python_10_pandas_presentation_mode.slides.html
[NbConvertApp] Redirecting reveal.js requests to https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0
Traceback (most recent call last):
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Scripts\jupyter-nbconvert-script.py", line 10, in <module>
    sys.exit(main())
             ^^^^^^
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\jupyter_core\application.py", line 277, in launch_instance
    return super().launch_instance(argv=argv, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
    app.start()
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\nbconvert\nbconvertapp.py", line 423, in start
    self.convert_notebooks()
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\nbconvert\nbconvertapp.py", line 597, in convert_notebooks
    self.convert_single_notebook(notebook_filename)
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\nbconvert\nbconvertapp.py", line 564, in convert_single_notebook
    self.postprocess_single_notebook(write_results)
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\nbconvert\nbconvertapp.py", line 534, in postprocess_single_notebook
    self.postprocessor(write_results)
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\nbconvert\postprocessors\base.py", line 27, in __call__
    self.postprocess(input)
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\nbconvert\postprocessors\serve.py", line 91, in postprocess
    http_server.listen(self.port, address=self.ip)
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\tornado\tcpserver.py", line 183, in listen
    sockets = bind_sockets(
              ^^^^^^^^^^^^^
  File "C:\Users\Dmitrii\anaconda3\envs\pythonProject\Lib\site-packages\tornado\netutil.py", line 162, in bind_sockets
    sock.bind(sockaddr)
OSError: [WinError 10048] Обычно разрешается только одно использование адреса сокета (протокол/сетевой адрес/порт)

In [16]:
import pandas as pd

AttributeError: partially initialized module 'pandas' has no attribute '_pandas_datetime_CAPI' (most likely due to a circular import)

In [13]:
# https://grouplens.org/datasets/movielens/

ratings = pd.read_csv('D:\\Нетология python\\Лекция _Библиотека_numpy\\10._Основы_pandas\\10._Основы_pandas\\Файлы к заданию №1\\ratings.csv')
ratings.head()

NameError: name 'pd' is not defined

In [20]:
ratings.info()

NameError: name 'ratings' is not defined

In [9]:
# сколько фильмов в коллекции
len(ratings.movieId.unique())

9724

In [10]:
%%time

# топ пользователей по количеству оценок
ratings.groupby('userId').count().sort_values('movieId', ascending=False).head()

CPU times: total: 0 ns
Wall time: 6 ms

        movieId  rating  timestamp
userId
414        2698    2698       2698
599        2478    2478       2478
474        2108    2108       2108
448        1864    1864       1864
274        1346    1346       1346

# Lifetime

In [11]:
ratings_grouped = ratings.groupby('userId').agg([min, max])
ratings_grouped.head()

C:\Users\Dmitrii\AppData\Local\Temp\ipykernel_13024\493006525.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  ratings_grouped = ratings.groupby('userId').agg([min, max])
C:\Users\Dmitrii\AppData\Local\Temp\ipykernel_13024\493006525.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ratings_grouped = ratings.groupby('userId').agg([min, max])

       movieId         rating        timestamp
           min     max    min  max         min         max
userId
1            1    5060    1.0  5.0   964980499   965719662
2          318  131724    2.0  5.0  1445714835  1445715340
3           31   72378    0.5  5.0  1306463323  1306464293
4           21    4967    1.0  5.0   945078428  1007574542
5            1     608    1.0  5.0   847434747   847435337

In [13]:
ratings_grouped['diff'] = ratings_grouped['timestamp']['max'] - ratings_grouped['timestamp']['min']
ratings_grouped.head()

       movieId         rating        timestamp                  diff
           min     max    min  max         min         max
userId
1            1    5060    1.0  5.0   964980499   965719662    739163
2          318  131724    2.0  5.0  1445714835  1445715340       505
3           31   72378    0.5  5.0  1306463323  1306464293       970
4           21    4967    1.0  5.0   945078428  1007574542  62496114
5            1     608    1.0  5.0   847434747   847435337       590

In [15]:
ratings_grouped['diff'].mean() / 24 / 3600

234.29512251442014

In [17]:
%%time

ratings = pd.read_csv('D:\\Нетология python\\Лекция _Библиотека_numpy\\10._Основы_pandas\\10._Основы_pandas\\Файлы к заданию №1\\ratings.csv')
ratings_grouped = ratings.groupby('userId').agg([min, max])
ratings_grouped['diff'] = ratings_grouped['timestamp']['max'] - ratings_grouped['timestamp']['min']

ratings_grouped['diff'].mean() / 24 / 3600

CPU times: total: 62.5 ms
Wall time: 44 ms

<timed exec>:2: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
<timed exec>:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.

234.29512251442014

# JOIN как в SQL

In [10]:
movies = pd.read_csv('ml-latest/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [11]:
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,110,1.0,1425941529,Braveheart (1995),Action|Drama|War
1,1,147,4.5,1425942435,"Basketball Diaries, The (1995)",Drama
2,1,858,5.0,1425941523,"Godfather, The (1972)",Crime|Drama
3,1,1221,5.0,1425941546,"Godfather: Part II, The (1974)",Crime|Drama
4,1,1246,5.0,1425941556,Dead Poets Society (1989),Drama