# Про pandas, ключи и индексы
Задача - определить есть ли в наборе значений заданное

In [11]:
data_list = list(range(10000))

In [12]:
data_list[:5]

[0, 1, 2, 3, 4]

In [13]:
if 5000 in data_list:
    print('Ура нашел!')

Ура нашел!

Время поиска зависит от того какой именно элемент вы ищете: первый, из середины или в конце

In [14]:
%%time

for _ in range(10**5):
    5000 in data_list

CPU times: total: 5.06 s
Wall time: 5.08 s

### Заменим список на множество

In [15]:
set([1, 2, 2, 2, 3])  # переводим списки в множества

{1, 2, 3}

In [16]:
data_set = set(range(10000))

In [17]:
type(data_set)

set

In [19]:
%%time

for _ in range(10**5):
    5000 in data_set

CPU times: total: 0 ns
Wall time: 7.66 ms

### Усложним задачу - в таблице из пяти столбцов найти нужную строчку.

In [20]:
import pandas as pd

In [21]:
table = pd.read_csv('D:\\Нетология python\\Лекция _Библиотека_numpy\\доп_материалы_к_пандас_1_и_2\\data.tsv', sep='\t')
table.head()

         date  category  campaign_id  slice  value
0  2020-11-21        59           26      3    688
1  2020-10-13        30           22      3    281
2  2020-07-24        80           24      9    266
3  2020-11-06        50           37      9     29
4  2020-02-21        70           50      7     25

In [22]:
# как сделать в пандосе
table[(table.date=='2020-12-06') & (table.category==70) & (table.campaign_id==3) & (table.slice==3)]

           date  category  campaign_id  slice  value
499  2020-12-06        70            3      3    666

In [23]:
%%time

for _ in range(10**4):
    table[(table.date=='2020-12-06') & (table.category==70) & (table.campaign_id==3) & (table.slice==3)]

CPU times: total: 5.84 s
Wall time: 5.86 s

In [6]:
len(table)

1000

Аналогичный расчет для списков

In [24]:
with open('D:\\Нетология python\\Лекция _Библиотека_numpy\\доп_материалы_к_пандас_1_и_2\\data.tsv') as f:
    next(f)
    table = [x.strip().split('\t') for x in f.readlines()]

In [8]:
table[:2]

[['2020-11-21', '59', '26', '3', '688'],
 ['2020-10-13', '30', '22', '3', '281']]

In [9]:
line_to_search = ['2020-12-06', '70', '3', '3']

In [10]:
%%time

for _ in range(10**4):
    [x for x in table if x[:4] == line_to_search]

CPU times: total: 1.34 s
Wall time: 1.42 s

Можно побыстрее? Преобразуем список в словарь.

In [ ]:
tuple_to_search = ('2020-12-06', '70', '3', '3')

In [ ]:
%%time
dict_ = {}

for line in table:
    key = tuple(line[:4])
    value = line[4]
    
    dict_[key] = value

In [ ]:
dict_[('2020-12-06', '70', '3', '3')]

In [ ]:
%%time

for _ in range(10**4):
    dict_[tuple_to_search]