# Задание 1
Датасет для домашнего задания вы найдете в разделе “Материалы к домашнему заданию” (файл “Дополнительные файлы для домашнего задания”) к этому занятию.
Определите, какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [4]:
movies = pd.read_csv('D:\\Нетология python\\Лекция _Библиотека_numpy\\10._Основы_pandas\\10._Основы_pandas\\Файлы к заданию №1\\movies.csv')
ratings = pd.read_csv('D:\\Нетология python\\Лекция _Библиотека_numpy\\10._Основы_pandas\\10._Основы_pandas\\Файлы к заданию №1\\ratings.csv')

In [8]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [9]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [11]:
top_rating = ratings[ratings["rating"] == 5.0]
top_rating

        userId  movieId  rating   timestamp
3            1       47     5.0   964983815
4            1       50     5.0   964982931
6            1      101     5.0   964980868
8            1      151     5.0   964984041
9            1      157     5.0   964984100
...        ...      ...     ...         ...
100814     610   158238     5.0  1479545219
100829     610   164179     5.0  1493845631
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352

[13211 rows x 4 columns]

In [14]:
merged_movies_rating = pd.merge(top_rating, movies, on='movieId')
merged_movies_rating

,userId,movieId,rating,timestamp,title,genres
0,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
1,13,47,5.0,987895819,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
2,14,47,5.0,835441133,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
3,56,47,5.0,835799219,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,58,47,5.0,847718657,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
...,...,...,...,...,...,...
13206,610,107771,5.0,1479544448,Only Lovers Left Alive (2013),Drama|Horror|Romance
13207,610,109968,5.0,1479545414,Why Don't You Play In Hell? (Jigoku de naze wa...,Action|Drama
13208,610,115727,5.0,1479544153,Crippled Avengers (Can que) (Return of the 5 D...,Action|Adventure
13209,610,138632,5.0,1479545420,Tokyo Tribe (2014),Action|Crime|Drama|Sci-Fi
13210,610,156371,5.0,1479542831,Everybody Wants Some (2016),Comedy

In [17]:
count_rating = merged_movies_rating.groupby('title').size().reset_index(name='count')
count_rating

                            title  count
0             'Salem's Lot (2004)      1
1       'Til There Was You (1997)      1
2              'burbs, The (1989)      2
3     (500) Days of Summer (2009)      5
4      10 Cloverfield Lane (2016)      1
...                           ...    ...
2949              Zootopia (2016)      4
2950                  Zulu (1964)      2
2951                 [REC] (2007)      3
2952              eXistenZ (1999)      3
2953        ¡Three Amigos! (1986)      2

[2954 rows x 2 columns]

In [22]:
max_rating_movies = count_rating[count_rating['count'] == count_rating['count'].max()]
max_rating_movies

                                 title  count
2310  Shawshank Redemption, The (1994)    153

# Задание 2
По данным файла power.csv (находится в архиве в разделе Материалы к лекции «Библиотека Pandas» - файл “Дополнительные файлы для домашнего задания”) посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [24]:
data = pd.read_csv('D:\\Нетология python\\Лекция _Библиотека_numpy\\10._Основы_pandas\\10._Основы_pandas\\Файлы к заданию №2\\power.csv')
data

          country  year  quantity  category
0         Austria  1996       5.0         1
1         Austria  1995      17.0         1
2         Belgium  2014       0.0         1
3         Belgium  2013       0.0         1
4         Belgium  2012      35.0         1
...           ...   ...       ...       ...
1189477  Viet Nam  2012      92.0        71
1189478  Viet Nam  2011      87.0        71
1189479  Viet Nam  2010      50.0        71
1189480  Viet Nam  2009      10.0        71
1189481  Viet Nam  2008       1.0        71

[1189482 rows x 4 columns]

In [46]:
filter_date = data[
    (data['country'].isin(['Latvia', 'Lithuania','Estonia'])) &
    (data['category'].isin([4, 12, 21])) &
    (data['year'].between(2005,2010)) &
    (data['quantity'] >= 0)
]

In [47]:
total_consumption = filter_date['quantity'].sum()
total_consumption

240580.0

In [48]:
total_consumption = grouped_data['quantity'].sum()
total_consumption

country    category
Estonia    4               28.0
           21           63412.0
Latvia     4                0.0
           21           54844.0
Lithuania  4               18.0
           12            6326.0
           21          115952.0
Name: quantity, dtype: float64

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.
Примеры страниц:
https://fortrader.org/quotes;
pythonworld.ru...strok.html

In [53]:
tables = pd.read_html('https://pythonworld.ru/tipy-dannyx-v-python/stroki-funkcii-i-metody-strok.html')

In [54]:
df = tables[0]

In [58]:
df

,Функция или метод,Назначение
0,"S = 'str'; S = ""str""; S = '''str'''; S = """"""st...",Литералы строк
1,"S = ""s\np\ta\nbbb""",Экранированные последовательности
2,"S = r""C:\temp\new""",Неформатированные строки (подавляют экранирова...
3,"S = b""byte""",Строка байтов
4,S1 + S2,Конкатенация (сложение строк)
5,S1 * 3,Повторение строки
6,S[i],Обращение по индексу
7,S[i:j:step],Извлечение среза
8,len(S),Длина строки
9,"S.find(str, [start],[end])",Поиск подстроки в строке. Возвращает номер пер...
10,"S.rfind(str, [start],[end])",Поиск подстроки в строке. Возвращает номер пос...
11,"S.index(str, [start],[end])",Поиск подстроки в строке. Возвращает номер пер...
12,"S.rindex(str, [start],[end])",Поиск подстроки в строке. Возвращает номер пос...
13,"S.replace(шаблон, замена[, maxcount])",Замена шаблона на замену. maxcount ограничивае...
14,S.split(символ),Разбиение строки по разделителю
15,S.isdigit(),Состоит ли строка из цифр
16,S.isalpha(),Состоит ли строка из букв
17,S.isalnum(),Состоит ли строка из цифр или букв
18,S.islower(),Состоит ли строка из символов в нижнем регистре
19,S.isupper(),Состоит ли строка из символов в верхнем регистре
20,S.isspace(),Состоит ли строка из неотображаемых символов (...
21,S.istitle(),Начинаются ли слова в строке с заглавной буквы
22,S.upper(),Преобразование строки к верхнему регистру
23,S.lower(),Преобразование строки к нижнему регистру
24,S.startswith(str),Начинается ли строка S с шаблона str
25,S.endswith(str),Заканчивается ли строка S шаблоном str
26,S.join(список),Сборка строки из списка с разделителем S
27,ord(символ),Символ в его код ASCII
28,chr(число),Код ASCII в символ
29,S.capitalize(),Переводит первый символ строки в верхний регис...
30,"S.center(width, [fill])","Возвращает отцентрованную строку, по краям кот..."
31,"S.count(str, [start],[end])",Возвращает количество непересекающихся вхожден...
32,S.expandtabs([tabsize]),"Возвращает копию строки, в которой все символы..."
33,S.lstrip([chars]),Удаление пробельных символов в начале строки
34,S.rstrip([chars]),Удаление пробельных символов в конце строки
35,S.strip([chars]),Удаление пробельных символов в начале и в конц...
36,S.partition(шаблон),"Возвращает кортеж, содержащий часть перед перв..."
37,S.rpartition(sep),"Возвращает кортеж, содержащий часть перед посл..."
38,S.swapcase(),"Переводит символы нижнего регистра в верхний, ..."
39,S.title(),Первую букву каждого слова переводит в верхний...
40,S.zfill(width),"Делает длину строки не меньшей width, по необх..."
41,"S.ljust(width, fillchar="" "")","Делает длину строки не меньшей width, по необх..."
42,"S.rjust(width, fillchar="" "")","Делает длину строки не меньшей width, по необх..."
43,"S.format(*args, **kwargs)",Форматирование строки