# Задание

## Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по правилам:

оценка 2 и ниже — низкий рейтинг;
оценка 4 и ниже — средний рейтинг;
оценка 4.5 и 5 — высокий рейтинг.
Результат классификации запишите в столбец class.

In [2]:
import pandas as pd

In [22]:
movies = pd.read_csv('D:\\Нетология python\\Pandas\\ml-latest-small\\ml-latest-small\\movies.csv')
ratings = pd.read_csv(
    'D:\\Нетология python\\Лекция _Библиотека_numpy\\10._Основы_pandas\\10._Основы_pandas\\Файлы к заданию №1\\ratings.csv')

merged_movies_rating = pd.merge(movies, ratings, on='movieId', how='inner')
merged_movies_rating.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [28]:
# def classify_rating(row):
#     if row['rating'] <= 2:
#         return 'низкий рейтинг'
#     elif row['rating'] <= 4:
#         return 'средний рейтинг'
#     elif row['rating'] >= 4.5:
#         return 'высокий рейтинг'
#     else:
#         return 'не определен'

merged_movies_rating['class'] = merged_movies_rating['rating'].apply(
    lambda x: 'низкий рейтинг' if x <= 2 else ('средний рейтинг' if x <= 4 else 'высокий рейтинг'))

In [29]:
merged_movies_rating.head()

,movieId,title,genres,userId,rating,timestamp,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,средний рейтинг
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,средний рейтинг
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,высокий рейтинг
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970,средний рейтинг
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483,высокий рейтинг

## Задание 2
Используйте файл keywords.csv.

Нужно написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определённому региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1
2
3
4
5
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region

In [30]:
GEO = pd.read_csv('D:\\Нетология python\\Pandas\\ml-latest-small\\ml-latest-small\\keywords.csv')
GEO

                       keyword     shows
0                           вк  64292779
1                одноклассники  63810309
2                        порно  41747114
3                         ютуб  39995567
4                    вконтакте  21014195
...                        ...       ...
99995   эльдорадо старый оскол      3705
99996      frigate для firefox      3630
99997                   укрсиб      3630
99998  погода в ялте на неделю      3688
99999                     ггму      3630

[100000 rows x 2 columns]

In [33]:

# Словарь с правилами распределения по регионам
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}


# Функция для классификации географической принадлежности
def classify_region(query):
    for region, cities in geo_data.items():
        for city in cities:
            if city in query:
                return region
    return 'undefined'


# Применение функции к столбцу 'keyword' и создание нового столбца 'region'
GEO['region'] = GEO['keyword'].apply(classify_region)

# Вывод обновленного датафрейма

In [35]:
GEO

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]

In [43]:
non_undefined_values = GEO[GEO['region'] != 'undefined']
non_undefined_values.head()

                        keyword   shows          region
127                авито москва  979292           Центр
370    авито ру санкт петербург  425134    Северо-Запад
564   погода в санкт петербурге  292489    Северо-Запад
849             авито ярославль  209581           Центр
1063        фарпост владивосток  176951  Дальний Восток

## Задание 3 (бонусное)

Есть мнение, что раньше снимали настоящее кино, не то что сейчас. Ваша задача — проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия: файл movies.csv и ratings.csv из базы. Нужно проверить, верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

Вы не будете затрагивать субьективные факторы выставления этих рейтингов, а пройдётесь по алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010 года.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте алгоритм:

для каждой строки пройдите по всем годам списка years;
если номер года присутствует в названии фильма, то функция возвращает этот год, как год выпуска;
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год.
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’.

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга.

Все файлы находятся в архиве «Дополнительные файлы к лекции и дз».

Важно! При копировании юпитер ноутбука изменяет кавычки ’ на ` , что может вызывать ошибку в коде. В этом случае их нужно просто заменить.

In [38]:
years = list(range(1950, 2011))

In [39]:
def production_year(title):
    for year in years:
        if str(year) in title:
            return year
    return 1900

In [45]:
merged_movies_rating['year'] = merged_movies_rating['title'].apply(production_year)

In [48]:
avg_ratings = merged_movies_rating.groupby('year')['rating'].mean().reset_index()
avg_ratings.head()

   year    rating
0  1900  3.559462
1  1950  3.830128
2  1951  3.807471
3  1952  3.994565
4  1953  3.644295